# Ambiente virtual
venv/
env/
.venv/

# Arquivos Python
__pycache__/

# Banco de dados SQLite
db.sqlite3

# Arquivos de migração compilados
*.sqlite3

# Arquivos de ambiente
.env

# Arquivos estáticos coletados
staticfiles/
